header {
    position: absolute;
    z-index: 10;
    width: 100vw;
}

.bg-light {
    background-color: transparent !important;
}

.navbar-brand {
    font-size: 2em;
    font-weight: 800;
    text-transform: uppercase;
}

.nav-item {
    font-weight: 500;
    text-transform: uppercase;
}

.nav-item .nav-link:hover {
    background-color: black;
    color: white !important;
}

.active {
    background-color: black;
    color: white !important;
}

.hero {
    position: relative;
    background: url(https://images.unsplash.com/photo-1479920252409-6e3d8e8d4866?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.hero h1 {
    font-size: 65px;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.hero p {
    padding: 0;
    margin: 1em 0 0 0;
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
}

.btn1 {
    display: inline-block;
    margin: 1em 0 0 0;
    background-color: black;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid black;
}

.btn1:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    text-decoration: none;
}